{% load static %}
<style>
        body{
            padding:0;
            margin:0;
        }
        .mainWrapper1{
            width:100%;
            height: 100vh;
            display: flex;
            background:blue;
            background-repeat: no-repeat;
            background-size: cover;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            font-size:1rem;
            
        }
        .wrapper1{
            justify-content: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 70%;
        }
        .title1{
            font-size:2em;
            text-align:center;
            line-height: 1;
            text-transform: uppercase;
            color:white;
        }
        .submenu1{

        }
        .submenu1 p{
            text-align: center;
            font-size: 1.2em;
                        color:white;
        }
        .wrapper1 button{
            margin-top: 1rem;
            padding:1rem 1.5rem;
            font-size: .7em;
            border-radius: 50px;
            border:0;
            text-transform: uppercase;
            font-weight: 800;

        }
    </style>
        <div class="mainWrapper1" style="background-image: url({% static 'img/img1.jpg' %});">
        <div class="wrapper1">
        {% comment %} <img src={% static 'img/img1.jpg' %} alt=""> {% endcomment %}
            <div class="title1">
                <h1>Your favorite source of free bootstrap themes</h1>
            </div>
            <div class="submenu1">
                <p>
                    Start Bootstrap can help you build better websites using the Bootstrap Framework! Just download a theme and start customising, no strings attached!
                </p>
            </div>
            <button>Find out more</button>

        </div>
    </div>