{% load snippet_tags %}


{% snippet_fragment 'plugin_main' or  %}


        <div class="mainWrapper11">
        <div class="wrapper1">
            <div class="title1">
                <h1>Your favorite source of free bootstrap themes</h1>
            </div>
            <div class="submenu1">
                <p>
                    Start Bootstrap can help you build better websites using the Bootstrap Framework! Just download a theme and start customising, no strings attached!
                </p>
            </div>
            <button>Find out more</button>

        </div>
    </div>




{% endsnippet_fragment %}



